# api and web
uvicorn[standard]  # to run the server
fastapi  # don't know why not recognised
pydantic  # required because
websockets  # testing and needed by heroku

# generell
aiohttp  # async requests
requests  # normal requests

# yt download
pytube  # download videos
moviepy  # convert mp4 to mp3
eyeD3  # update mp3 metadata

# download.lyricfinder
beautifulsoup4  # analyse html

# yt search
youtube-search-python  # search command
